{% extends "./base.html" %}

{% load static %}

{% block content %}

<body style="background-color: #c0af9d;">
    <section>
        <div>
            <h1 data-aos="fade-up" style="font-weight: 800; font-family: Merriweather; color:#fff;" class="text-center">ABOUT US</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="pt-5">
                        <img src="{% static 'store/images/selling-online.jpeg' %}" alt="img" height="350px" width="100%">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="pt-5" style="line-height: 2rem;">
                        <h5 class="text-white">About Endless Essencials</h5>
                        <p>Endless Essencials is an African-owned business that sells skincare, haircare, and spices from the homeland. Our most notable product is Shea butter. We have premium Shea butter that is freshly handmade in Tamale, Ghana.</p>
                        <p>Our products are also very rich in many vitamins and minerals! We have had amazing results and testimonials! We are committed to bringing a feel of West Africa to your doorstep and providing one the best African products a business can give!</p>
                        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'contact' %}"> Contact Us </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}