{% extends "./base.html" %}

{% load static %}

{% block content %}

<body style="background-color: #fff;">
    <br><br>
    <section>
        <div>
            <h1 data-aos="fade-up" style="font-weight: 800; font-family: Merriweather; color:#000;" class="text-center">ABOUT US</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="pt-5">
                        <img src="{% static 'store/images/selling-online.jpeg' %}" alt="img" height="400px" width="100%">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="pt-5" style="line-height: 2rem;">
                        <h5 >Welcome to Goldentouch Body Organics</h5>
                        <p>Located in the heart of Kumasi - Tanoso, Goldentouch Body Organics is your trusted partner in natural wellness and
                        herbal health. We specialize in the sale of high-quality herbal supplements that support your body’s healing processes,
                        boost your immune system, and promote a healthy, balanced lifestyle.</p>
                        
                        <h5 >Who We Are</h5>
                        <p>
                        
                        
                        
                        Goldentouch Body Organics was born out of a passion for natural healing and holistic well-being. With years of
                        experience in herbal practices and wellness consultation, we have curated a wide range of organic products carefully
                        selected for their purity, effectiveness, and proven benefits.
                        
                        
                        </p>
                        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'contact' %}"> Contact Us </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}