{% extends "./base.html" %}

{% load static %}


{% block content %}

<!-- <div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div> -->
<body style="background-color: #eee;">
    <br><br>
    <section class="section" data-aos="fade-in" style="overflow: hidden;">

        <div class="section-header">
            <div class="container contact-container">
                <h2>Contact Us</h2>
                <p>Hope to here from you!!!</p>
            </div>
        </div>

        <div class="container contact-container">
            <div class="row contact-row">

                <div class="contact-info">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa fa-home i"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Address</h4>
                            <p>Kumasi - Tanoso</p>
                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa fa-phone i"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Phone</h4>
                            <p>+233 57 003 9325</p>
                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa fa-envelope i"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Email</h4>
                            <p>goldentouchbo@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="contact-form">
                    <form id="contact-form" method="POST">
                        {% csrf_token %}
                        <h2>Send Message</h2>
                        <div class="input-box">
                            <input placeholder="Full Name" type="text" required="true" id="full_name" name="full_name">
                            <!-- <span>Full Name</span> -->
                        </div>

                        <div class="input-box">
                            <input placeholder="Email" type="email" required="true" id="email" name="email">
                            <!-- <span>Email</span> -->
                        </div>

                        <div class="input-box">
                            <input placeholder="Phone" type="number" required="true" id="phone" name="phone">
                            <!-- <span>Email</span> -->
                        </div>

                        <div class="input-box">
                            <textarea placeholder="Type your Message..." required="true" id="message" name="message"></textarea>
                            <!-- <span>Type your Message...</span> -->
                        </div>

                        <div class="input-box">
                            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> Send </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</body>
{% endblock %}