{% extends "./base.html" %} {% load static %} {% block content %}
<style>
    .counter-container{
        background-repeat: no-repeat;
        width: 100%;
        min-height: 40vh;
        background-position: center;
        background-size: cover;
        color: #fff;
   
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("{% static '/store/images/image1.jpeg' %}");
    }
</style>
<main>
    <!-- slide shoqw -->
    <section class="slide-show">
        <!-- Slide items with images and text -->
        <div class="slide">
            <!-- Image with alt text for SEO -->
            <img alt="Responsive image" src="{% static 'store/images/banner.jpg' %}" />
            <div class="slid-show-text">
                <!-- Title and description -->
                <h1>Get Better Hold Experience</h1>

                <p>Obtain the ideal look that is long-lasting.</p>
                <!-- Links -->
                <div class="links-on-slide-show">
                    <a href="{% url 'store' %}">Shop Now</a>
                    <a href="{% url 'contact' %}">Contact Us</a>
                </div>
            </div>
        </div>

        <div class="slide">
            <!-- Image with alt text for SEO -->
            <img alt="Responsive image" src="{% static 'store/images/image7.jpeg' %}" />
            <div class="slid-show-text">
                <!-- Title and description -->
                <h1>Discover Our Premium Pomade</h1>

                <p>Discover the best styling option available.</p>
                <!-- Links -->
                <div class="links-on-slide-show">
                    <a href="">Shop Now</a>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>

        <!-- Slide show navigation buttons -->
        <div class="slide-show-button">
            <button class="prev"><i class="fa-solid fa-less-than"></i></button>
            <button class="next"><i class="fa-solid fa-greater-than"></i></button>
        </div>
    </section>

    </div>

    <!-- about us -->
    <div class="about-us element">
        <h2>WELCOME LADIES & GENTLEMEN</h2>
        <br>
        <p style="text-transform: uppercase;">
            Endless Essencials is an African-owned business that sells skincare, <br> haircare, and spices from the
            homeland. Our most
            notable product is Shea butter. <br> We have premium Shea butter that is freshly handmade in Tamale, Ghana.
        </p>

        <a href="{% url 'about-page' %}">Read our mission</a>
    </div>

    <!-- put your skin first -->
    <div class="product-container element">
        <div class="heading">
            <h3>PRIORITISE YOUR SKIN</h3>
            <p>
                Our nutritious shea butter is made with love to highlight your inherent shine.
            </p>
        </div>

        <div class="product-main-container">
            <!-- the bigger picture on the left -->
            <div class="product-img element">
                <img alt="Responsive image" src="{% static 'store/images/image2.jpeg' %}" />
                <div class="product-img-details">
                    <p>GET YOUR ORGANIC & NATURAL PRODUCTS</p>
                    <h3>BUY NOW AND GET LOVED FOR YOUR SKIN</h3>
                    <a href="{% url 'store' %}">Shop Now</a>

                </div>
            </div>

            <!-- the small picture on the right -->
            <div class="main-product-container">
                <div class="main-item-container">
                    {% for homeproduct in home_products %}

                 
                    <div class="product element">
                        <img alt="Responsive image" src="{{ homeproduct.image.url }}" />

                        <div class="detail">
                            <a href="{% url 'home-product-info' homeproduct.slug %}">
                                <p>{{ homeproduct.title }}</p>
                            </a>
                            <p>${{ homeproduct.price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- our-best-seller-container -->
    <div class="our-best-seller-container element">
        <div class="heading">
            <h3>OUR TOP SELLERS
            </h3>
            <p>
                Discover how to feed your skin naturally with our top-selling shea butter products.

            </p>
        </div>

        <div class="best-seller-container">
            {% for slideproduct in slide_products %}
            <div class="best-product">
                <div class="img">
                    <img alt="Responsive image" src="{{ slideproduct.image.url }}" />
                    <div class="add-to-cart">
                        <a class="btn slide-button" href="{% url 'home-product-info' slideproduct.slug %}">{{slideproduct.title }}</a>

                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>



    <!-- contact us -->
    



    
            <!-- counter -->
            <div class="counter-container">
                <div class="counter">
                    <p >50 +</p>
                    <p>Happy Clients</p>
                </div>
                <div class="counter">
                    <p >300 +</p>
                    <p>Products Sold</p>
                </div>
                <div class="counter">
                    <p >20 +</p>
                    <p>Five-Star Reviews</p>
                </div>
                <div class="counter">
                    <p >50 +</p>
                    <p>Satisfied Customers</p>
                </div>
                
            </div>
            <!-- <div class="contact-us-form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input">
                        <label for="">Name</label> <br>
                        <input type="text" name="full_name" placeholder="Your Name">
                    </div>
                    <div class="input">
                        <label for="">Eamil</label> <br>
                        <input type="text" name="email" placeholder="Your Email">
                    </div>
                    <div class="input">
                        <label for="">Phone</label> <br>
                        <input type="number" name="phone" placeholder="Your Phone">
                    </div>
                    <div class="input">
                        <label for="">Message</label> <br>
                        <textarea name="message" placeholder="Your Message To Us"></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div> -->
    
</main>
<script>

    window.addEventListener("scroll", () => {
        const targetElement = document.querySelectorAll(".element")
        targetElement.forEach(element => {
            const position = element.getBoundingClientRect()
            const thresHold = window.innerHeight * 0.65

            if (position.top <= thresHold) {
                element.classList.add("slides");
            }
        })
    })


    function handleImageSlider() {

        // This block of code manages the slide show functionality
        const slides = document.querySelectorAll('.slide-show .slide');
        let currentSlide = 0;

        // Function to show a specific slide
        function showSlide(index) {
            slides.forEach((slide, i) => {
                if (i === index) {
                    slide.style.display = "block";
                } else {
                    slide.style.display = "none";
                }
            });
        }

        // Function to show the next slide
        function nextSlide() {
            currentSlide++;
            if (currentSlide >= slides.length) {
                currentSlide = 0;
            }
            showSlide(currentSlide);
        }

        // Function to show the previous slide
        function prevSlide() {
            currentSlide--;
            if (currentSlide < 0) {
                currentSlide = slides.length - 1;
            }
            showSlide(currentSlide);
        }

        // Show the first slide initially
        showSlide(currentSlide);

        // Event listeners for the navigation buttons
        document.querySelector(".prev").addEventListener("click", prevSlide);
        document.querySelector(".next").addEventListener("click", nextSlide);
        setInterval(nextSlide, 7000);

    }
    handleImageSlider()

    const textSlide = document.querySelector(".text-slide")
    const textElement = document.querySelectorAll(".text")
    let = currentSlide = 0
    function showslideText() {
        textElement.forEach((element) => {
            element.style.display = "none"
        })

        textElement[currentSlide].style.display = 'block'
        currentSlide = (currentSlide + 1) % textElement.length
        setTimeout(showslideText, 5000)
    }

    showslideText()


</script>
{% endblock %}