{% extends "./base.html" %}

{% load static %}


{% block content %}

<main>
  
  <div class="album py-5" data-aos="fade-up">
    <div class="container">

      <div class="pb-3 h4"> {{ category.name | capfirst }} </div>


      <hr>

      <br>


      <div class="row g-3" data-aos="fade-down">

        <!-- for product in products -->
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-12 pb-3 d-flex justify-content-center">
          <div class="card" style="width: 17rem; height: 28rem">
            <img class="card-img-top" src="{{ product.image.url }}" height="300px" width="100%" alt="Card image cap">
            <div class="card-body text-center headings">
              <h4>
                <a class="text-info text-decoration-none h3" href="{% url 'product-info' product.slug %}">{{product.title | capfirst}}</a>
              </h4>
              <div>
                
                <p class="card-text">${{ product.price }}</p>
                <!-- <p><button style="border: none; background:none;" class="add-to-wishlist" data-product-item="product.id">
                    &nbsp;<i class="fa fa-heart" style="fill: aqua;"></i></button></p> -->
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}