{% extends "./base.html" %}

{% load static %}

{% block content %}
<section class="element">
    <div class="text-center">
        <img src="{% static 'store/images/image7.jpeg' %}" height="300px" width="100%" alt="">
    </div>
</section>
<br><br>
<section>
    <div class="container" style="width: 700px;">
        <div class="row">
            <div class="col">
                <div class="element">
                    <h1 style="font-weight: 800;">{{ object.title1 }}</h1>
                    <p class="text-muted"><i class="fa fa-clock"></i>{{ object.date_posted|date:"j M, o" }}</p>
                    <img src="{{ object.image1.url }}" height="900px" alt="">
                    <br><br>
                    <p>{{ object.content1 }}</p>
                </div>
                <br><br><br>
                <div class="element">
                    <h1 style="font-weight: 800;">{{ object.title2 }}</h1>
                    <br>
                    <img src="{{ object.image2.url }}" height="900px" alt="">
                    <br><br>

                    <p>{{ object.content2 }}</p>
                </div>
                <br><br><br>
                <div class="element">
                    <h1 style="font-weight: 800;">{{ object.title3 }}</h1>
                    <br>
                    <img src="{{ object.image3.url }}" height="900px" alt="">
                    <br><br>
                
                    <p>{{ object.content3 }}</p>
                </div>
                <br><br><br>
                <div class="element">
                    <h1 style="font-weight: 800;">{{ object.title4 }}</h1>
                    <br>
                    <img src="{{ object.image4.url }}" height="900px" alt="">
                    <br><br>
                
                    <p>{{ object.content4 }}</p>
                </div>
                <br><br><br>
                <div class="element">
                    <h1 style="font-weight: 800;">{{ object.title5 }}</h1>
                    <br>
                    <img src="{{ object.image5.url }}" height="900px" alt="">
                    <br><br>
                
                    <p>{{ object.content5 }}</p>
                </div>
                <br><br><br>
                <!-- <div class="">
                    <h1 style="font-weight: 800;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus.</h1>
                    <br>
                    <img src="{% static 'store/images/image1.jpeg' %}" height="900px" alt="">
                    <br><br>
                
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quibusdam quaerat optio inventore qui veniam,
                        cumque, dolorem explicabo corporis vel iste quas rerum suscipit laudantium laboriosam voluptas libero deleniti
                        illo.</p>
                </div> -->
            </div>
        </div>
    </div>
</section>
    <!-- --------Comments----------- -->
    <section>
            <div class="container element">
                <h2>Comments({{ post_comments_count }})</h2>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
    
                        <div class="media-list">
                            {% for comment in post_comments %}
                            <div>
                                <img class="avatar avatar-sm mr-4" src="{% static 'store/images/avator.png' %}"
                                    height="30px" alt="">
                                <div class="media-body">
                                    <div class="small-1">
                                        <b>{{ comment.user.username }}</b>
                                        <time class="ml-4 opacity-70 small-3">{{ comment.date }}</time>
                                    </div>
                                    <p>{{ comment.content }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
        
                        <form class="pb-4" method="POST" action="{% url 'our-news-detail' pk=new.pk %}">
                            {% csrf_token %}
                            <div class="form-group pt-4">
                                {{ form }}
                            </div>
                            <button class="btn btn-outline-secondary" type="submit">Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}