{% extends "./base.html" %}

{% load static %}

{% block content %}

<section style="background-color: #e7b581; height:200px">
    <div class="text-center">
        <h1 style="color: #994D1C; font-weight:900;" class="pt-5">OUR STORY</h1>
    </div>
</section>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="{% static 'store/images/image2.jpeg' %}" height="500px" width="80%" alt="children">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="text-center" style="padding-top: 170px;">
                <h3>OUR CHILDREN AND THEIR SKIN</h3>
                <p>If you have children, teenagers give them beautiful skin. Teach them simple skincare. Using our body & face scrubs,
                oils, Shea butter soaps cocoa butter soaps, shea butter consistently eventually gives you the perfect skin tone you
                desire.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="fade-up">
            <div class="text-center" style="padding-top: 170px;">
                <h3>ENJOY THE DIFFERENT KIND OF SKINCARE-THE AFRICAN WAY</h3>
                <p>Following our eco-friendly oriented technique of making oils, face&body scrubs, soaps & butters allows for once in a
                life time body moisturizers that will simply enhance your skin, body & beauty forever</p>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center" data-aos="fade-up">
            <img src="{% static 'store/images/image1.jpeg' %}" height="500px" width="80%" alt="skincare">
        </div>
    </div>
</div>

{% endblock %}