{% extends "./base.html" %}

{% load static %}

{% block content %}
<section style="background-color: #e7b581; height:200px">
    <div class="text-center" >
        <h1 style="color: #994D1C; font-weight:900;" class="pt-5">OUR NEWS</h1>
    </div>
</section>

<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 pb-3 d-flex justify-content-center">
                {% for blog in news %}
                <div class="card" style="width: 17rem; height: 30rem; border:none;" data-aos="fade-up">
                    <img class="card-img-top" src="{{ blog.image1.url }}" height="300px" alt="Card image cap">
                    <div class="card-body headings">
                        <h4>
                            <a class="text-info text-decoration-none" href="{% url 'our-news-detail' blog.id %}">{{ blog.title1 }}</a>
                        </h4>
                        <a href="{% url 'our-news-detail' blog.id %}">Read more</a>
                        <p class="card-text"><small class="text-muted">Last updated {{ blog.date_posted|date:"j M, o" }}</small></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
<section>

{% endblock %}