{% extends "./base.html" %}

{% load static %}

{% block content %}

<style>
    .checked {
    color: #994D1C;
}
</style>

<div class="container" data-aos="fade-down">

    <main class="pt-5">

        <div class="row g-3">

            <div class="col-md-5 col-lg-5 pb-4">


                <!-- Product image -->
                <div class="card" style="height: 270px;">
                    <img height="300px" alt="Responsive image" src="{{ product.image.url }}">

                </div>
            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5 pb-3">

                <h1 class="headings mb-0 h3"> {{ product.title }} </h1>

                <strong> {{ product.brand }} </strong>


                <hr>

                <br>


                <p> {{ product.description }} </p>

                <div class="border">

                    <div class="col border-bottom">

                        <div class="row p-3">

                            <div class="col-6"> Price </div>

                            <div class="col-6 text-end"><span class="h4 fw-bold">$ {{ product.price }} </span></div>

                        </div>

                    </div>

                    <div class="col">

                        <div class="row p-3">

                            <div class="col-6">


                                <label for="select">Qty</label>

                                &nbsp;

                                <select id="select">

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>

                                </select>

                            </div>

                            <div class="col-6 text-end">
                                <button type="button" id="add-button" value="{{ product.id }}"
                                    class="btn btn-primary btn-sm">

                                    Add to cart

                                </button>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <br>

</div>

<section class="pt-5" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mx-auto pb-4 p-3">
                <form method="POST" action="">
                    {% csrf_token %}

                    <h3>Write your review</h3>
                    <hr>
                    <div>
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                        <br>
                        <br>
                        <textarea placeholder="Write your review here..." class="form-control" name="comment" id=""
                            rows="4"></textarea>
                    </div>
                    <br>
                    {% if user.is_authenticated %}
                    <button class="btn btn-primary btn-block" type="submit">Send review</button>
                    {% else %}
                    <p>You must be logged in to post a review. <span><a href="{% url 'my-login' %}">Login now</a></span>
                    </p>
                    {% endif %}
                </form>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 p-3">
                <h3>Reviews ({{ review_counts }})</h3>
                <hr />
                <div class="review">
                    {% for review in reviews %}
                    <h4 class="subheading" itemprop="itemReviewed">{{ review.comment }}</h4>
                    <p class="author" itemprop="author"><small>by:</small> {{ review.user }}</p>
                    <!-- <p>rating {{review.rate}} of 5</p> -->
                    <div class="rate">

                    
                    <i class="fa fa-star {% if review.rate > 4 %} checked {% endif %}" style="float: right;"></i>
                    <i class="fa fa-star {% if review.rate > 3 %} checked {% endif %}" style="float: right;"></i>
                    <i class="fa fa-star {% if review.rate > 2 %} checked {% endif %}" style="float: right;"></i>
                    <i class="fa fa-star {% if review.rate > 1 %} checked {% endif %}" style="float: right;"></i>
                    <i class="fa fa-star {% if review.rate > 0 %} checked {% endif %}" style="float: right;"></i>
                    </div>
                    <br>
                    <a href="#" onclick="document.getElementById('reply-{{ review.id }}').style.display='block'">Reply</a>
                    <form id="reply-{{ review.id }}" style="display: none;" method="post" action="{% url 'review' review.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <textarea value="{{ review.id }}" placeholder="Write your reply here..." class="form-control" name="parent_id" id="" rows="2"></textarea>
                        <!-- <input type="hidden" name="parent_id" value="{{ review.id }}"> -->
                        <br>
                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    </form>
                    {% for reply in replies.replies.all %}
                        <div style="margin-left: 2em;">
                            <h6 class="subheading" itemprop="itemReviewed">{{ review.comment }}</h6>
                            <p class="author" itemprop="author"><small>by:</small> {{ review.user }}</p>

                        </div>
                    {% endfor %}
                    <br>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-4">
    <div class="container">

</section>

<script>

    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "cart-add" %}',
            data: {
                product_id: $('#add-button').val(),
                product_quantity: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                //console.log(json)
                document.getElementById("cart-qty").textContent = json.qty
            },
            error: function (xhr, errmsg, err) {

            }

        });
    });

</script>

{% endblock %}