{% extends "store/base.html" %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #c0af9d;
    }
</style>

<body>
    <br><br>
    <section class="pt-4" data-aos="fade-up">
        <div class="card pt-3 pb-3"
            style="border-radius: 20px; margin: 0 auto; float:none; margin-bottom:10px; max-width: 22rem;">
            <div class="card-body text-center">
                <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>
                <br><br>
                <h5 class="card-title"><strong>Your account is now active</strong></h5>
                <hr>
                <p class="card-text">Please proceed to login.</p>
            </div>
        </div>
    </section>
    <!-- <section class="p-4">
        <div class="container bg-white shadow-md p-5 container-layout">
            <div class="text-center">
                <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>
                <br><br>
                <h5><strong>Your account is now active</strong></h5>
                <hr>
                <p>Please proceed to login.</p>
            </div>
        </div>
    </section> -->
</body>

{% endblock %}