.container-layout {
    border-radius: 30px;
    width: 350px;
    text-align: center;
    vertical-align: middle;
}
 :root{
  --mainColor: #F5CCA0;
  --light:#e7d4c5;
  --white:#fff;
 }
 body{
  background-color: var(--light);
 }
    .bg-steel {
        background-color: transparent !important;
        transition: 0.75s ease;
    }

    .bg-steel.scrolled {
        background: #F5CCA0 !important;
        box-shadow: 0 3px 10px #F5CCA0;
    }

    .form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
} 

 /*------------Navbar dropdown start------------*/
 .dropbtn {
    color: white;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }

  .dropdown-content a:hover {
    background-color: #eee;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
 /*------------Navbar dropdown end------------*/

.btn {
    background-color: #994D1C;
    border: none;
}

.btn:hover {
    background-color: #6B240C;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #994D1C;
  transition: 0.4s;
}

a:hover {
  color: #E48F45;
}

a:hover .i {
  color: #E48F45;
}

.i {
  color: #994D1C;
  transition: 0.4s;
}

body {
  overflow-x: hidden;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6B240C;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 447;
  background-color:var(--mainColor);
}

header nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
}

header nav .logo {
  width: 125px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor:pointer;
}

header nav .logo img {
  width: 100%;
}

@media (max-width: 576px) {
  header nav .logo {
    width: 80px;
  }
}

@media (max-width: 400px) {
  header nav .logo {
    width: 60px;
  }
}

header nav .search__bar__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .search__bar__header input[type="text"] {
  width: 70%;
  padding: 13px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 2px #f79831;
}

@media (max-width: 576px) {
  header nav .search__bar__header input[type="text"] {
    padding: 8px;
  }
}

header nav .search__bar__header input[type="button"] {
  padding: 13px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 2px #f79831;
  cursor:pointer;
}

@media (max-width: 576px) {
  header nav .search__bar__header input[type="button"] {
    padding: 12px;
    font-size: 0.7em;
  }
}

header nav .cart__header__desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

header nav .cart__header__desktop i {
  font-size: 1.5em;
  cursor:pointer;
}

@media (max-width: 576px) {
  header nav .cart__header__desktop i {
    font-size: 1em;
  }
}

header nav .cart__header__desktop span {

  padding: 3px 6px;
  margin-left: 3px;
  border-radius: 5px;
  color: #000;
  margin-bottom: 19px;
}

@media (max-width: 576px) {
  header nav .cart__header__desktop span {
    font-size: 0.7em;
    padding: 1px 4px;
  }
}

@media (max-width: 992px) {
  header nav {
    grid-template-columns: 1fr 2fr 0.7fr;
  }
}

@media (max-width: 768px) {
  header nav {
    grid-template-columns: 0.9fr 2fr 0.5fr;
  }
}

@media (max-width: 400px) {
  header nav {
    grid-template-columns: 0.6fr 2fr 0.5fr;
  }
}

.main__navigations {
  position: fixed;
  left: 0;
  right: 0;
  top: 59px;
  z-index: 447;
  padding: 8px 0 30px;
  background-color:var(--mainColor);
}

.main__navigations__div {
  display: flex;
}

.main__navigations__div ul.main__navigations__div__ul {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.main__navigations__div ul.main__navigations__div__ul .anchor__remains__same i {
  font-size: 0.8em;
}

@media (max-width: 1200px) {
  .main__navigations__div ul.main__navigations__div__ul {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .main__navigations__div ul.main__navigations__div__ul {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .main__navigations__div ul.main__navigations__div__ul {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .main__navigations__div ul.main__navigations__div__ul {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .main__navigations__div ul.main__navigations__div__ul {
    justify-content: space-between;
  }
  .main__navigations__div ul.main__navigations__div__ul .on__mobile_d_none {
    display: none;
  }
  .main__navigations__div ul.main__navigations__div__ul .anchor__remains__same {
    font-size: 0.8em;
  }
  .main__navigations__div ul.main__navigations__div__ul .anchor__remains__same i {
    font-size: 0.8em;
  }
  .main__navigations__div ul.main__navigations__div__ul .save__from__left {
    margin-left: 15px;
  }
  .main__navigations__div ul.main__navigations__div__ul .save__from__right {
    margin-right: 15px;
  }
}

.main__navigations__div ul.main__navigations__div__ul li.main__navigations__div__li {
  justify-self: center;
}

.main__navigations__div ul.main__navigations__div__ul li.main__navigations__div__li:nth-child(2) a {
  padding-bottom: 10px;
}

.main__navigations__div ul.main__navigations__div__ul li.main__navigations__div__li:nth-child(2):hover .div__categories__items {
  opacity: 1;
  visibility: visible;
}

.main__navigations__div ul.main__navigations__div__ul li.main__navigations__div__li .div__categories__items {
  position: absolute;
  padding: 20px 40px;
  border-radius: 5px;
  margin-top: 8px;
  background-color: rgba(68, 68, 68, 0.8);
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

.main__navigations__div ul.main__navigations__div__ul li.main__navigations__div__li .div__categories__items p {
  margin-bottom: 19px;
}

.main__navigations__div ul.main__navigations__div__ul li.main__navigations__div__li .div__categories__items p a {
  color: #fff;
}

.main__navigations__div ul.main__navigations__div__ul li.main__navigations__div__li .div__categories__items p a:hover {
  color: #f79831;
}

.bars {
  cursor: pointer;
}

.bars div {
  width: 22px;
  height: 2px;
  background-color: #994D1C;
  margin: 4px 0;
  transition: .4s;
}

@media (min-width: 510px) {
  .bars div {
    display: none;
  }
}

.toggle .line1 {
  transform: rotate(-405deg) translate(-3px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(405deg) translate(-3px, -6px);
}

.mobile__nav__fade__and__show {
  position: fixed;
  border-radius: 50%;
  z-index: 449;
  transition: .4s;
  top: -100%;
}

@media (min-width: 510px) {
  .mobile__nav__fade__and__show {
    display: none;
  }
}

.mobile__nav__fade__and__show li {
  margin-bottom: 15px;
  color: #fff;
}

.mobile__nav__fade__and__show li > a {
  font-weight: bold;
  color: #f79831;
  color: #fff;
}

.mobile__nav__fade__and__show li > a:hover {
  color: #ccc;
}

.mobile__nav__fade__and__show li > div {
  margin-left: 25px;
}

.mobile__nav__fade__and__show li > div p {
  margin-top: 8px;
}

.mobile__nav__fade__and__show li > div p a {
  color: #fff;
}

.mobile__nav__fade__and__show li > div p a:hover {
  color: #ccc;
}

.mobile__nav__fade__and__show.open {
  left: 7%;
  top: 3%;
}

.mobile__nav__fade__and__show__circle {
  width: 120%;
  height: 735px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: 0px 10px 10px #333;
  position: fixed;
  top: 0;
  z-index: 448;
  border-radius: 50%;
  transform: translate(-100%, -100%);
  transition: .4s;
}

.mobile__nav__fade__and__show__circle.open {
  transform: translate(-30%, -30%);
}

@media (min-width: 510px) {
  .mobile__nav__fade__and__show__circle {
    display: none;
  }
}

.login__page {
  background-image: url("../images/img2.jpg");
  height: 900px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100px;
}
/*# sourceMappingURL=main.css.map */


/* Contact start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.contact-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.contact-row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #6B240C;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .contact-row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}

/* Contact end */


.rate {
    float: left;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #994D1C;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #994D1C;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #994D1C;
}


.rating {
	font-size:1.2rem;
  line-height: 1.2rem;
  display: inline-block;
}

.rating .star {
  position: relative;
  float: left;
  width: 1.4rem;
  height: 1.2rem;
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
  text-shadow: 1px 1px 2px rgba(0,0,0,.4);
  border: 0;
  background: transparent;
}

.rating .star:before {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 1.2rem;
  height: 1.2rem;
  transform: translate(-50%, -50%);
  content:"\f006";
	color:#777;
}

.rating--read-only .star--full:before {
  content:"\f005";
	color:#e3cf7a;
}

.rating--read-only .star--half:after {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 1.2rem;
  height: 1.2rem;
  transform: translate(-50%, -50%);
  content:"\f089";
  color:#e3cf7a;
}

/* Floating this right, means that the stars
 * fill from the left, because of the successor 
 * rule defined below. @see https://css-tricks.com/star-ratings/
 */
.rating--interactive .star {
  float: right;
}

.rating--interactive .star:hover {
	cursor:pointer;
}

.rating--interactive .star:hover:before,
.rating--interactive .star:hover ~ .star:before {
	content:"\f005";
	color:#e3cf7a
}



/* ---- headings and titles font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap'); */

.headings {
  font-family: Roboto;
  font-style: italic;

}

/* ---- headings and titles font end */


/* My css start from here @Benjamin */
/* image slider */
.slide-containers{
  display: flex;
}
.sliders{
 display: flex;
 flex-direction: column;
 position: relative;
 
 
}
.big{
  width: 100%;

  position: relative;
}
 .big img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
} 



.column-container{
  position: relative;
  margin-top: -5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

}
.columns{
  width: 100%;
  min-height: 15vh;
  max-width: 300px;
  background-color: #994D1C;
}

.text-contents{
position: absolute;
top: 0;
background-color:rgba(0,0,0,0.7);
width: 100%;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--white);
text-align: center;

}

.text-content-small{
  position: absolute;
top: 0;
background-color:rgba(0,0,0,0.7);
width: 100%;
height: 35vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: var(--white);
text-align: center;
}

.buttons{
  margin-top: 5%;
  
}
.buttons a{
  background-color: var(--white);
  padding:10px 20px;
  border-radius: 25px;
}

.about-us{
  padding: 5% 0;
  text-align: center;
}


/*product-container  */
.product-container{
  padding:  0 15%;
}
.product-img img{
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  object-fit: cover;
}
.product-img{
  position: relative;
}
.product-img-details{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--white);
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.product-img-details a{
background-color: var(--white);
padding: 10px 20px;
border-radius: 25px;
}
.heading{
 text-align: center;
 padding: 2% 0;
}

.product-main-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.main-item-container{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  position: relative;
}
.product{
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
  min-height: 250px;
}
.element {
  opacity: 0;
}

.element.slides {
  animation: slideFromBottoms 0.5s forwards;
  animation-delay: 0.5s;
}
.product img{
 width: 100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}


.detail-first{
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 250px;
  height: 250px;
}

@keyframes slideFromBottoms {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.product:hover .detail-first{
  display: flex;
}

.add-to-cart{
  position: absolute;
  width: 100%;
  bottom: 0;
  animation: slideFromBottoms 0.5s forwards;
    animation-delay: 0.2s;
   
    opacity: 0;
  padding: 10px;
}
.add-to-cart .slide-button{
  width: 100%;
  height: 5vh;
  border: none;
  border-radius: 25px;
  background-color: #fff;
}


/* our-best-seller-container */
.our-best-seller-container{
  padding: 7% 0;
}
.best-seller-container {
    width: 80%; 
    margin: 0 auto;
    margin-left: 15%; 
    display: flex;
    gap: 2rem;
    overflow-x: auto; 
    white-space: nowrap;
    cursor:grabbing;
}

.best-product {
    flex: 0 0 auto; 
    position: relative;
    overflow: hidden;
}

.best-product img {
    max-width: 100%;
    height: 45vh;
    object-fit: cover;
    
}


.best-seller-container::-webkit-scrollbar {

  width: 10px;
  height: 7px;
}


.best-seller-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


.best-seller-container::-webkit-scrollbar-thumb {
  background: black; 
}


.best-product{
  width: 100%;
  max-width: 250px;
  margin-bottom: 4%; 
}
.best-product img{
  width: 100%;
  
}

.best-product img:hover{
  animation: zoom 0.5s forwards;
}
@keyframes zoom {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}

.img{
  position: relative;
  object-fit: cover;
}

.best-product .add-to-cart{
 display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  animation: slideFromBottoms 0.5s forwards;
    animation-delay: 0.2s;
   
    opacity: 0;
  padding: 10px;
}
.best-product:hover .add-to-cart{
  display: block;
}

  
/* Slide show */
.slide-show {
  position: relative;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(1.25);
  }
}

.slid-show-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 0 5%;
  color: var(--white);
  text-align: center;
}

.slid-show-text h1,
.slid-show-text p,
.links-on-slide-show {
  color: var(--whiteColor);
  opacity: 0;
  /* Initially hide the elements */
}

.slid-show-text h1 {
  animation: slideFromBottom 1s forwards;
  animation-delay: 0s;
  /* Delay for the h1 animation */
  font-size: 3rem;
  padding-bottom: 1%;
}

.slid-show-text p {
  font-size: 1.4rem;
  animation: slideFromBottom 1s forwards;
  /* Use the same animation */
  animation-delay: 1s;
  /* Delay for the p animation */
}

.links-on-slide-show {
  margin-top: 3%;
  display: flex;
  gap: 2rem;
  animation: slideFromBottom 1s forwards;
  animation-delay: 1.5s;
}

.links-on-slide-show a {
  padding: 15px 70px;
  background-color: #6B240C;
  color: var(--whiteColor);
  border-radius: 25px;
}

.links-on-slide-show a:nth-child(2) {
  background-color: #994D1C;
}

@keyframes slideFromBottom {
  0% {
      transform: translateY(90px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
      /* Show the elements */
  }
}

.slide-show-button button {
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust opacity here */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: var(--whiteColor);
}

.slide-show-button i{
  color: #fff;
}
.slide.active {
  display: block;
}

.prev {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.next {
  position: absolute;
  right: 0;
  cursor: pointer;
}




.counter-container{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}



.counter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  height: 20vh;
  border: solid 3px;
  border-radius: 25px;
}

.text-slide .text h5 {
 font-size: 1.5rem;
 padding-bottom: 4%;
  animation: textslide 0.9s;
}

.text-slide span {
  color: var(--orangeColor);
}

.text-slide .text p {
  animation: textslide2 0.9s;
}

@keyframes textslide {
  0% {
      transform: translateY(-50px);
      opacity: 0;
  }
}

@keyframes textslide2 {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
}






@media (max-width:999px){
  .product-container{
    padding: 0 5%;
  }
  .main-item-container{
grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:750px){
  .product-main-container{
flex-wrap: wrap;
  }
  .product-img img{
    max-width: none;
    height: 50vh !important;
  }
  .slide-containers{
    flex-wrap: wrap;
  }
  .small{
    display: none;
  }
  .slide-show-button{
    display: none;
  }

.links-on-slide-show a{
  padding: 13px;
}

.contact-us-container{
  flex-direction: column;
}
.contact{
  max-width: none;
}

}



@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}