{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
        background-color: #c0af9d;
    }
</style>
<br><br>
<section class="pt-4" data-aos="fade-down">
    <div class="card pt-3 pb-3"
        style="border-radius: 20px; margin: 0 auto; float:none; margin-bottom:10px; max-width: 22rem;">
        <div class="card-body">
            <h3 class="card-title text-center">Enter your new password:</h3>
            <hr>
            <p class="card-text text-center">Please enter your new password twice so that we can verify that you typed it in correctly!</p>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> Update password </button>
            </form>
        </div>
    </div>
</section>
<!-- <section class="p-4">
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Enter your new password:</h3>
        <hr>
        <p>Please enter your new password twice so that we can verify that you typed it in correctly!</p>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> Update password </button>
        </form>
    </div>
</section> -->
{% endblock %}