{% extends "store/base.html" %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #c0af9d;
    }
</style>

<body>
    <section class="pt-4  pb-3" data-aos="fade-up">
        <div class="card pt-3 pb-3"
            style="border-radius: 20px; margin: 0 auto; float:none; margin-bottom:10px; max-width: 22rem;">
            <div class="card-body text-center">
                <i class="text-green fa fa-credit-card-alt fa-3x" aria-hidden="true"></i>
                <br>
                <br>
                <h5 class="card-title" style="font-weight: 700;"><strong>Payment success!</strong></h5>
                <hr>
                <p class="card-text">Your order was processed successfully.</p>
            </div>
        </div>
    </section>
</body>

{% endblock %}